.container {
  background-color: red;
  @include adaptiv-value("margin-left", $layout-padding, $layout-padding-min);
  @include adaptiv-value("margin-right", $layout-padding, $layout-padding-min);
  @include min-width();
}

button {
  @include gilroyBold;
  font-weight: 700;
  @include adaptiv-value("font-size", 24, 15);
  text-align: center;
  border: 0 solid;
}

.bg-lime {
  background-color: $color_lime;
  color: $color_middle;

}